@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
    background-color:bisque;
    
}
.main-header{
    height:12vh;
    text-align:center;
    background-color:hsla(225, 14%, 35%, 1);
    padding:1rem;
    color:aliceblue;
    
}
.about-header{
    padding-bottom:.65em;
}
.about-section{
    padding:1.5em;
}
.skills-section{
    height:34vh;
    background-color:hsla(225, 14%, 35%, 1);
    padding:1.5em;
}

.skills-header{
    padding-bottom:.65em;
    color:#fff;
}

ul{
    list-style-type:none;
    color:#fff;
}
img{
    width:28rem;
    height:28rem;
    object-fit:cover;
    
}

.project-section{
    padding:1.5em;
}


.project-header,.project-subheader{
    margin-bottom:1em;
    margin-top:1em;
}
input,textarea{
    display:block;
    margin:.75em;
    font-size: inherit;
    padding:.5em;
    border-radius: .25em;
}
input:focus,textarea:focus{
    box-shadow:2px 2px 8px 0 hsla(225, 84%, 35%, 1);
    background-color:hsla(225, 20%, 85%, 1);
}
.btn{
    outline:none;
    color:#fff;
    background-color:hsla(225, 84%, 35%, 1);
    cursor:pointer;
}
.btn:hover,.btn:focus{
    background-color:hsla(225, 42%, 35%, 1);
    box-shadow:2px 2px 8px 0 hsla(225, 84%, 35%, 1);
}
.contact-section{
    padding:1em;
}
.contact-header{
    margin-bottom:.65em;
}
footer{
    height:12vh;
    background-color: hsla(225, 14%, 35%, 1);
    text-align: center;
    color:#fff;
    padding: 0.95em;

}